extends layout

block content
    section.content
        - function capitalizeFirstLetter(string) {
        -     return string.charAt(0).toUpperCase() + string.slice(1);
        - }
        - function pad(n) { 
        -     return n < 10 ? '0' + n : n; 
        - }
        .container__md
            .box
                - var resCnt = 0
                .box__header.box__header--border
                    h2.text__title Všechny rezervace
                .box__body
                    .table__wrapper
                        ul#listAllReservations.listReservations.table.table__styled.table--fullsize.table--responsive.text--center
                            each reservation in data.reservations
                                if resCnt === 0
                                    li.table__row.table__heading
                                        .table__cell(title='Celé grilcentrum') GC
                                        .table__cell Stav
                                        .table__cell Od
                                        .table__cell Do
                                        .table__cell Akce
                                li.reservation.table__row(data-id= reservation.id)
                                    .table__cell= !reservation.onlyMobileGrill
                                    .reservation__state.table__cell= capitalizeFirstLetter(reservation.state)
                                    .table__cell(data-date='#{reservation.from}')
                                    .table__cell(data-date='#{reservation.to}')
                                    .reservation__action.table__cell
                                        if reservation.state === 'draft'
                                            button.btn__cancel(type='button', data-id= reservation.id, title='Cancel')
                                - resCnt++
                            if resCnt === 0
                                li.table__row.table__noborder
                                    .table__cell
                                        p.text__paragraph.text--center Žádné rezervace

block scripts
    script.
        $(document).ready(function() {
            moment.locale('#{user.locale}');

            $('[data-date]').each(function(i, element) {
                var date = moment($(element).attr('data-date')).format('LL');
                $(element).text(date);
            });

            $('.btn__cancel').on('click', function() {
                var $this = $(this),
                    $row = $this.closest('.table__row'),
                    id = $this.attr('data-id');

                makeRequest('/api/reservation/' + id + '/cancel', 'PUT', {}, function(res) {
                    addNotification('success', 'Reservation successfully canceled.');
                    $this.remove();
                    $row.find('.reservation__state').text('Canceled');
                    if ($('.listReservations li:not(.table__heading)').length === 0) {
                        $('.listReservations').replaceWith('<p class="text__paragraph text--center">Žádné rezervace čekající na schválení</p>');
                    }
                });
            });
        });
