extends layout

block content
    section.hero.table.table--fullsize
        .table__cell
            .hero__content
                h1.text__mainTitle.separator__after Grilovací centrum
                h2.text__subtitle SiliconHill
    section.content
        .container__md
            .box
                .box__header.box__header--border
                    h2.text__title Kalendář rezervací
                .box__body
                    .calendar
                        script#calendar-template(type="text/template").
                            <div class="calendar__controls text--center">
                                <button class="calendar__prev text__paragraph" type="button">&lsaquo;</button>
                                <div class="calendar__current text__paragraph"><%= this.month.format('MMMM YYYY') %></div>
                                <button class="calendar__next text__paragraph" type="button">&rsaquo;</button>
                            </div>
                            <div class="calendar__grid">
                                <div class="calendar__daysWeek text--center clearfix">
                                    <% _.each(daysOfTheWeek, function(day) { %>
                                        <div class="calendar__cell day__header"><%= day %></div>
                                    <% }); %>
                                </div>
                                <div class="calendar__days clearfix">
                                <% _.each(days, function(day) { %>
                                    <div class="calendar__cell <%= day.classes %>">
                                        <div class="day__num"><%= day.day %></div>
                                        <% if (day.events.length) { %>
                                            <div class="day__event">
                                                <%= day.events[0].id %>
                                            </div>
                                        <% } %>
                                    </div>
                                <% }); %>
                                </div>
                            </div>
                            <button class="calendar__today text__paragraph text--center" type="button">Dnes</button>
            //<% if (day.events[0].title.length > 20) { %>
                <%= day.events[0].title.substr(0, 20) %>…
                <% } else { %>
                    <%= day.events[0].title %>
                <% } %>
            .box
                .box__header.box__header--border
                    h2.text__title Nová rezervace
                .box__body
                    p aaa

block scripts
    script.
        var addedReservations = {},
            loadedMonths = {};

        function loadReservations(calendar) {
            var tmp = calendar.month.clone();
            var date = tmp.add(tmp.local().utcOffset(), 'm'),
                startInterval = date.utc().subtract(1, 'M').format(),
                endInterval = date.utc().add(3, 'M').subtract(1, 'd').format(),
                month = date.subtract(1, 'M').month();

            if (!(month in loadedMonths)) {
                var $spinner = $('<div class="spinner--absolute"></div>');
                $spinner.append(getSpinner());
                $('.calendar').prepend($spinner);
            }

            $.ajax({
                url: '/api/reservations',
                method: 'GET',
                data: {
                    from: encodeURIComponent(startInterval),
                    to: encodeURIComponent(endInterval)
                },
                complete: function() {

                },
                success: function(res) {
                    var tmp = res.reservations,
                        reservations = [];
                    for (var i = 0; i < tmp.length; i++) {
                        if (tmp[i].id in addedReservations) {
                            continue;
                        }
                        tmp[i].from = moment(tmp[i].from).add(calendar.month.local().utcOffset(), 'm').format();
                        tmp[i].to = moment(tmp[i].to).subtract(calendar.month.local().utcOffset(), 'm').format();
                        
                        addedReservations[tmp[i].id] = tmp[i];
                        reservations.push(tmp[i]);
                    }
                    loadedMonths[month] = true;
                    loadedMonths[moment(startInterval).month()] = true;
                    loadedMonths[moment(endInterval).month()] = true;
                    calendar.addEvents(reservations);
                },
                error: function(res) {
                    console.log(res);
                }
            });
        }

        $(document).ready(function() {

            moment.locale('cs');
            var calendar = $('.calendar').clndr({
                multiDayEvents: {
                    endDate: 'to',
                    startDate: 'from'
                },
                targets: {
                    day: 'day',
                    empty: 'empty',
                    nextButton: 'calendar__next',
                    todayButton: 'calendar__today',
                    previousButton: 'calendar__prev'
                },
                clickEvents: {
                    click: function (target) {
                        console.log('Calendar clicked: ', target);
                    },
                    nextInterval: function () {
                        console.log('Calendar next interval');
                    },
                    previousInterval: function () {
                        console.log('Calendar previous interval');
                    },
                    onIntervalChange: function () {
                        console.log('Calendar interval changed');
                    },
                    onMonthChange: function() {
                        console.log('Calendar month changed');
                        loadReservations(this);
                    }
                },
                doneRendering: function() {
                    console.log('Calendar done rendering');
                    if ($('.calendar .spinner--absolute').length) {
                        $('.calendar .spinner--absolute').remove();
                    }
                },
                template: $('#calendar-template').html(),
                showAdjacentMonths: true,
                adjacentDaysChangeMonth: true
            });

            loadReservations(calendar);

        });
