extends layout

block content
    if error
        p #{error}
    if notice
        p #{notice}
    .table.table--fullsize
        .table__cell.table--middle
            ul.listLogin
                li.listLogin__item
                    button#loginIs.btn.btn__orange--full.btn--block(type='button') Login using IS
                li.listLogin__item.margin--top-25.expandable__container
                    button#loginIs.btn.btn__orange.btn--block.expandable__trigger(type='button') Native Login
                    form#login.form.form__login.expandable__content(method='POST', action='/auth/login/native')
                        .fieldset
                            .field__container
                                label.text__label(for='email') Email
                                .field
                                    input#email(type='email', name='email', required)
                            .field__container
                                label.text__label(for='password') Password
                                .field
                                    input#password(type='password', name='password', required)
                        .form__footer.text--right
                            button.btn.btn__orange(type='submit') Log in
