extends layout

block content
    .table.table--fullsize
        .table__cell.table--middle
            ul.listLogin.box.box--biggerShadow
                .box__header.box__header--border
                    h1.text__title Gril centrum Login
                .box__body
                    li.listLogin__item
                        button#loginIs.btn.btn__orange--full.btn--block(type='button') Přihlásit pomocí ISu
                    li.listLogin__item.margin--top-25.expandable__container
                        button#loginIs.btn.btn__orange.btn--block.expandable__trigger(type='button') Přihlásit pomocí emailu
                        form#login.form.form__login.expandable__content(method='POST', action='/auth/login/native')
                            .separator__text.text--center
                                span.text--grey-1 přihlášení pomocí emailu
                            .fieldset
                                .field__container
                                    label.text__label(for='email') Email
                                    .field
                                        input#email(type='email', name='email', required)
                                .field__container
                                    label.text__label(for='password') Heslo
                                    .field
                                        input#password(type='password', name='password', required)
                            .form__footer.text--right
                                button.btn.btn__orange(type='submit') Přihlásit

block scripts
    script.
        $(document).ready(function() {
            $('#login').validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },
                errorPlacement: function() {
                    return false;
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).parent().addClass('error');
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).parent().removeClass('error');
                }
            })
        });
