extends layout

block content
    section.content
        .container__md
            .box
                .box__header.box__header--border
                    h2.text__title Statistiky
                .box__body
                    

block scripts
    script.
        $(document).ready(function() {

        });
