.hero
    background transparent url(../img/background-sm.jpg) no-repeat center
    background-attachment fixed
    background-size cover
    padding 35px 10px
    width 100%
    
    @media $sm-up
        background-image url(../img/background-md.jpg)
        padding 55px 15px
        
    @media $md-up
        padding 161px 15px 100px
        
    @media $lg-up
        background-image url(../img/background-lg.jpg)
        
    @media $xlg-up
        background-image url(../img/background-xl.jpg)
        
    &__content
        margin 0 auto
        max-width $container-md
        
    .shlogo
        margin-left 0
