.listPdf
    reset-list()
    
    .table__row:not(:first-child)
        .table__cell
            padding-top 15px
    
    &__heading
        padding-right 15px
        width 70px

    &__line
        border-bottom 1px dotted $color-black
        width 220px
