.locales
    background-color $color-grey-2
    border-radius 3px
    left 15px
    padding 1px 5px 2px
    position absolute
    set-font-size 12px
    top 21px

    @media $md-up
        left auto
        right 15px
        
    @media $lg-up
        left auto
        right 15px
    
    label
        display none
        
        @media $lg-up
            display inline-block

    select
        background-color transparent
        border none
        display inline-block
        padding 0 0 0 15px
        width auto
