.locales
    padding 1px 5px 2px
    set-font-size 12px
    text-align right

    select
        background-color transparent
        border none
        display inline-block
        padding 10px 15px
        width auto
