.modalReservation
    &__accessories
        reset-list()
        
        li
            background-color $color-grey-1
            border-radius 3px
            display inline-block
            margin 5px 5px 0
            padding 3px 5px 2px
