.nav__main
    background-color $color-white
    display none
    overflow auto
    position fixed
    size(100%)
    transition translate .2s ease-in-out
    z-index 1
    
    @media $md-up
        box-shadow 0 0 10px rgba(0, 0, 0, .25)
        display block
        position relative
        size(100%, auto)

    ul
        reset-list()
        padding 45px 10px
        
        @media $sm-up
            padding 20px 10px
        
    li
        opacity 0
        transform translateX(-100%)
        
        @media $md-up
            display inline-block
            opacity 1
            transform translateX(0)

        & + li
            @media $md-up
                border-left 1px solid $color-grey-2
                margin-left 15px
                padding-left 15px
                
            @media $lg-up
                border-left 1px solid $color-grey-2
                margin-left 20px
                padding-left 20px

            a
                margin-top 10px
                
                @media $md-up
                    margin-top 0

    a
        display block
        
        &.active
            color $color-red
            cursor default
