.nav__main
    background-color $color-white
    display none
    overflow auto
    position fixed
    size(100%)
    z-index 1
    
    @media $md-up
        box-shadow 0 0 15px rgba(0, 0, 0, .5)
        position relative
        size(100%, auto)

    ul
        reset-list()
        padding 45px 10px
        
        @media $sm-up
            padding 20px 10px
        
    li
        opacity 0
        transform translateX(-100%)
        
        @media $md-up
            display inline-block
            transform translateY(-100%)

        & + li
            @media $md-up
                border-left 1px solid $color-grey-2
                margin-left 25px
                padding-left 25px

            a
                margin-top 10px
                
                @media $md-up
                    margin-top 0

    a
        display block
        
        &.active
            color $color-red
            cursor default
