.note
    border 1px solid transparent
    border-radius 3px
    margin 0 auto 20px
    padding 10px
    max-width $container-md-half
    
    &__success
        background-color $color-success-bg
        border-color $color-green
        color $color-success
    
    &__notice
        background-color $color-notice-bg
        border-color $color-blue
        color $color-notice
        
    &__error
        background-color $color-error-bg
        border-color $color-red
        color $color-error
