.switch
    &__container
        margin-left -10px
        margin-right -10px

    &__list
        border-top 2px solid $color-background
        overflow hidden
        reset-list()
        
        li
            display inline-block
            position relative
            width 50%
    
    &__trigger
        background-color $color-background
        border none
        border-bottom 1px solid $color-background
        border-radius none
        padding 10px
        width 100%
        
        &.active
            background-color $color-white
            border-bottom none
            cursor default
            
        &:focus
            outline none
            
    &__content
        padding 0 10px
