.page__index
    .accessories
        h3
            padding-top 20px !important

            @media $sm-up
                padding-top 25px !important

            @media $sm-up
                padding-top 35px !important
