$color-white = #fff
$color-black = #000

$color-text-default = #798291

$color-background = $color-white
$color-background-dark = #201500

$color-red = #ff5050
$color-red-hover = #e55c5c
$color-red-focus = #bd5353
$color-green = #69b515
$color-green-hover = lighten($color-green, 10%)
$color-orange = #ee6352
$color-orange-hover = $color-red
$color-orange-focus = $color-red-hover
$color-blue = #4081f5
$color-blue-hover = lighten($color-blue, 10%)

$color-red-dark = #680202
$color-red-superdark = #25161a

$color-input = #130d00
