.form
    .col-xs-12
        & + .col-xs-12
            margin-top 20px
            
            @media $sm-up
                margin-top 0
        
    .row
        & + .row
            margin-top 20px
            
            @media $sm-up
                margin-top 30px
            
            @media $md-up
                margin-top 40px
            
    &__submit
        text-align right

.field
    position relative
