.footer
    margin 0 auto
    padding 50px 15px
    text-align center
    max-width $container-lg - 200
    
    @media $sm-up
        padding 75px 15px 25px
        text-align left
    
    p
        margin 10px 0 0

    .col-xs-12
        & + .col-xs-12
            margin-top 25px

            @media $sm-up
                margin-top 0

    .nav__footer
        @media $sm-up
            margin-top 15px

    .share        
        @media $sm-up
            margin-top 20px
            text-align right
            
        a
            color $color-text-default
        
            &:hover
                color $color-white
